body{
    
   margin: 0 auto;
    background-color: antiquewhite;
    width: 600px;
    padding: 0 2px 2px;
    border: 3px solid ;
   
    
}

#form1 h1 {
    color: blue;
  }
  label{
    color: brown;
    float: left;
    width: 11em;
    text-align: right;
  }
#form1 input {
    margin-bottom: 10px; /* Adjust as needed */
    margin-left: 10px;
    
  }

  #form1 div {
    display: inline-block;
    text-align: left;
  }

  #form1 button{
    size-adjust: 20px;
    font-size: 30px;
    color: rgb(34, 34, 141);
    background-color: rgb(176, 215, 237);
    border-radius: 20px;
    border-color: brown;
    align-items: center;
  }